* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: linear-gradient(120deg, green, blue, red);
}

/* --------------Header----------------------- */
.nav {
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 1000;
  position: fixed;
  width: 100%;

  
}

.navleft {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.navleft img {
  width: 50px;
  border-radius: 50%;
}

/* Hamburger */

#menu-toggle {
  display: none;
}
.ham {
  display: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 2rem;
}

/* Nav Right Side */
.navRight {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.list {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: white;
}




/* ---------------- Main Section -------------------*/
main {
    padding-top: 100px; 
    /* margin-top: rem; */
    width: 100%;
  }


  .Content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
  }

  .Content img {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    
  }

  #Section-First {
    opacity: 0;
    transform: translateX(50px);
    animation: fadeInLeft 1s ease-in-out forwards;
    animation-delay: 0.5s;
  }

  #Section-Second {
    opacity: 0;
    transform: translateX(-50px);
    animation: fadeInRight 1s ease-in-out forwards;
    animation-delay: 1s;
  }
  
  #Section-Third {
    opacity: 0;
    transform: translateX(50px);
    animation: fadeInLeft 1s ease-in-out forwards;
    animation-delay: 1.5s;
  }

  .text > p {
    color: rgb(231, 198, 198);
  }

  .text> h2 {
    font-size: 3rem;
  
  }


  /*---------------------------- Footer ----------------------- */

  Footer{
    background-color: aqua;
    width: 100vw;

  }

  .sectionone {
        display: flex;
        padding: 2rem;
        justify-content: space-between;
 
  }

  .footone {
    padding-right: 1rem;
  }

  .footlogo {
    display: flex;
    gap: 0.5rem;
    
  }

  .footlogo > img {
             width: 50px;
             height: 50px;
             border-radius: 50%;
  }

  .footText {
    padding-left: 2rem;
  }

  /* <!--Section one Two --> */


  .Contact1 {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
  }





  /* <!--Section one Tree Form--> */
    fieldset {
      display: flex;
      flex-direction: column;
    }

    .line {
         border: 3px solid;
         border-radius: 10px;
         width: 100vw;
         height: 0.8rem;
         background: linear-gradient(to left, red, blue, green);
    }


    /* Foot Section Two social logo */

    .Follow {
      display: flex;
      align-items: center;
      font-size: 2rem;
      flex-direction: column;
      padding: 1rem;
      
    }

    .Follow1 {
      display:flex;
      gap: 2rem;
      list-style: none;
      margin-top: 1rem;
    
      
    }


@media (max-width: 700px){

      body {
        overflow-x: hidden;
      }


    .nav {
        flex-direction: column;
        padding: 1rem;
    }

    .navleft {
        position: absolute;
        left: 1rem;
        
    }

    .ham {
        display: block;
    }

    .navRight {
        flex-direction: column;
        margin-top: 3rem;
    }

    .list {
        flex-direction: column; 
        display: none;
    }

    .sectionone {
      flex-direction: column;
      gap: 2rem;
      align-items: center;
    }

 #menu-toggle:checked ~ .navRight .list {
       display: flex;

 }

 #menu-toggle:checked + .ham .open-icon {
    display: none;
 }

 #menu-toggle:checked + .ham .close-icon {
    display: inline;
 }


 .Content {
    flex-direction: column;
 }



 .text {
    display: flex;
    flex-direction: column;
    align-items: center;
 }


}

@keyframes  fadeInLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
    
}

@keyframes fadeInRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
    
}


 /* ----------------------Only used Html and CSS------------------------- */

